Repository patou/liste-envies, pull requests merged in 2020-11, with the labels that each got.

#132 🐛 fix changing tabs given /archive
  liste-envies-front/src/app/page/list/list.component.html
  liste-envies-front/src/app/page/list/list.component.ts
  liste-envies-front/src/app/state/wishes/wish.service.ts
Labels: front

#134 Fix/improve home connexion pages
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.html
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.ts
  liste-envies-front/src/app/component/page-nav/page-nav.component.html
  liste-envies-front/src/app/page/connect/connect.component.html
  liste-envies-front/src/app/page/connect/connect.component.ts
  liste-envies-front/src/app/page/home/home.component.html
  liste-envies-front/src/app/page/home/home.component.scss
  liste-envies-front/src/app/page/home/home.component.ts
  liste-envies-front/src/app/service/auth.service.ts
  liste-envies-front/src/assets/images/undraw_gift_card_6ekc.png
  liste-envies-front/src/styles.scss
Labels: front, style

#129 :lipstick: Amélioration de l'affichage de la liste des personnes d'une liste
  liste-envies-front/src/app/page/add-list/add-update-list.component.html
  liste-envies-front/src/app/page/home/home.component.html
  liste-envies-front/src/app/shared/user-share/user-share.component.html
  liste-envies-front/src/app/shared/user-share/user-share.component.scss
  liste-envies-front/src/app/shared/user-share/user-share.component.ts
Labels: Evolution, front, style

#133 :lipstick: Fix de l'affiche des images, du prix et des liens.
  liste-envies-front/src/app/component/wish-card/wish-card.component.html
  liste-envies-front/src/app/component/wish-card/wish-card.component.scss
  liste-envies-front/src/app/page/list/list.component.html
  liste-envies-front/src/app/page/list/list.component.scss
Labels: front, style

#135 🚀 Deploy to prod
  .circleci/config.yml
Labels: ci

#136 ✏️ corrections des fautes, et ajout/modifications des textes pour le…
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.html
  liste-envies-front/src/app/component/page-nav/page-nav.component.html
  liste-envies-front/src/app/component/wish-card/wish-card.component.html
  liste-envies-front/src/app/component/wish-edit/wish-edit.component.html
  liste-envies-front/src/app/component/wish-filters-form/wish-filters-form.component.html
  liste-envies-front/src/app/component/wish-filters-form/wish-filters-form.component.ts
  liste-envies-front/src/app/models/const.ts
  liste-envies-front/src/app/page/add-list/add-update-list.component.html
  liste-envies-front/src/app/page/add-list/add-update-list.component.ts
  liste-envies-front/src/app/page/list/list.component.html
  liste-envies-front/src/app/shared/img-form/img-form.component.html
  liste-envies-front/src/app/shared/links-form/links-form.component.html
  liste-envies-front/src/app/shared/user-share/user-share.component.html
Labels: front

#153 Fix/user given
  liste-envies-front/src/app/component/wish-card/wish-card.component.html
  liste-envies-front/src/app/component/wish-card/wish-card.component.scss
Labels: front, style

#155 Fix/user given (#153)
  liste-envies-front/src/app/component/wish-card/wish-card.component.html
  liste-envies-front/src/app/component/wish-card/wish-card.component.scss
Labels: front, style

#156 :bug: Affichage des envies déjà offertes
  liste-envies-front/src/app/component/wish-card/wish-card.component.html
  liste-envies-front/src/app/component/wish-card/wish-card.component.scss
Labels: front, style

#158 Hotfix/fix public list
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.html
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.scss
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.ts
  liste-envies-front/src/app/component/page-nav/page-nav.component.ts
  liste-envies-front/src/app/page/connect/connect.component.ts
  liste-envies-front/src/app/page/home/home.component.ts
  liste-envies-front/src/app/page/list/list.component.ts
  liste-envies-front/src/app/service/auth.service.ts
  liste-envies-front/src/app/service/login-pop-up.service.spec.ts
  liste-envies-front/src/app/service/login-pop-up.service.ts
  liste-envies-front/src/app/state/app/user.service.ts
  liste-envies-front/src/app/state/wishes/my-wish/my-wish.service.ts
  liste-envies-front/src/app/state/wishes/wish.service.ts
  liste-envies-front/src/app/state/wishes/wishes-list.service.ts
  liste-envies-front/src/styles/_variables.scss
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/WishesService.java
Labels: back, front, style, test
