Repository patou/liste-envies, pull requests merged in 2020-10, with the labels that each got.

#108 :lipstick: Fix margin on the list header and envies
  liste-envies-front/src/app/component/list-of-wish/list-of-wish.component.html
  liste-envies-front/src/app/component/list-of-wish/list-of-wish.component.scss
  liste-envies-front/src/styles.scss
Labels: front, style

#109 ⬆️ Migrate to junit 5
  liste-envies-front/src/app/page/about/about-page.component.html
  liste-envies-war/pom.xml
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/dto/UserShareDto.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/dto/WishListDto.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/Comment.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/Notification.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/Wish.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/WishList.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/deprecated/Envy.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/deprecated/ListEnvies.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/rest/AppUserRestService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/rest/WishListRestService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/rest/WishRestService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/AppUserService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/NotificationsService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/OfyService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/WishListService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/WishesService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/AuthFilter.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/GetUserServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/HistoryApiFallbackFilter.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/LoginServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/LogoutServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/MigrateServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/EncodeUtils.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/ListUtils.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/ServletUtils.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/WishRules.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/AppUserServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/WishListServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/WishServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/util/EncodeUtilsTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/util/WishRulesTest.java
Labels: back, dependencies, front, test

#113 🐛 fix bug for give a wish Fix #112
  liste-envies-front/src/app/state/wishes/wish.service.ts
Labels: front

#114 Fix Auth
  liste-envies-front/src/app/app.module.ts
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.html
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/rest/WishRestService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/AppUserService.java
Labels: back, front

#110 ✨ add wish id in notifications.
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/NotificationsService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/WishesService.java
Labels: back

#116 Amélioration affichage de pop-up de connection
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.html
  liste-envies-front/src/app/component/login-dialog/login-dialog.component.scss
  liste-envies-front/src/app/component/page-nav/page-nav.component.html
  liste-envies-front/src/app/page/home/home.component.ts
  liste-envies-front/src/app/page/list/list.component.html
  liste-envies-front/src/app/service/auth.service.ts
  liste-envies-front/src/app/state/wishes/my-wish/my-wish.service.ts
Labels: front, style

#117 🐛 fix create a new list
  liste-envies-front/src/app/page/add-list/add-update-list.component.ts
Labels: front

#127 :bug: Fix forceAnonymous option forgiven in WishList entity
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/dto/WishListDto.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/WishList.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/WishRules.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/util/WishRulesTest.java
Labels: Urgent, back, bug, test

#126 :triangular_flag_on_post: Disable list edit, and trash
  liste-envies-front/src/app/component/page-nav/page-nav.component.html
  liste-envies-front/src/app/page/add-list/add-update-list.component.html
Labels: Urgent, bug, front

#128 :bug: Fix typescript model sync with backend
  liste-envies-front/src/app/models/WishItem.ts
  liste-envies-front/src/app/models/WishList.d.ts
Labels: bug, front
