Repository patou/liste-envies, pull requests merged in 2020-12, with the labels that each got.

#160 :lock: Gestion de la securité, erreurs rest personnalisés.
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/exception/NotAcceptableException.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/exception/NotAcceptableExceptionMapper.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/exception/NotAllowedException.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/exception/NotAllowedExceptionMapper.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/exception/NotLoggedException.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/exception/NotLoggedExceptionMapper.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/exception/UncaughtException.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/exception/WishListNotFoundExceptionMapper.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/rest/AppUserRestService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/rest/WishListRestService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/rest/WishRestService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/AppUserService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/WishListService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/WishesService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/GetUserServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/ServletUtils.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/WishRules.java
  liste-envies-war/src/main/webapp/WEB-INF/web.xml
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/AppUserServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/WishListServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/WishServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/util/WishRulesTest.java
Labels: back, test

#161 Hotfix/#119 deja recue offrir
  liste-envies-front/src/app/app-routing.module.ts
  liste-envies-front/src/app/models/WishList.d.ts
  liste-envies-front/src/app/page/list/list.component.html
  liste-envies-front/src/app/page/list/list.component.scss
  liste-envies-front/src/app/page/list/list.component.ts
  liste-envies-front/src/app/page/received/received.component.ts
  liste-envies-front/src/app/shared/img-form/img-form.component.ts
  liste-envies-front/src/app/state/wishes/wish.query.ts
  liste-envies-front/src/app/state/wishes/wish.service.ts
  liste-envies-front/src/app/state/wishes/wish.store.ts
  liste-envies-front/src/app/state/wishes/wishes-list.service.ts
Labels: front, style

#162 :fire: Clean back code
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/deprecated/Envy.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/deprecated/ListEnvies.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/deprecated/Note.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/OfyService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/GetUserServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/LoginServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/LogoutServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/servlet/MigrateServlet.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/ServletUtils.java
  liste-envies-war/src/main/webapp/WEB-INF/web.xml
Labels: back
