Repository patou/liste-envies, pull requests merged in 2020-01, with the labels that each got.

#90 :rewind: :construction_worker: supprimer auto pr
  .github/workflows/auto-pr.yml
Labels: ready

#91 :arrow_up: Update fest asset to assertj
  liste-envies-war/pom.xml
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/AppUserServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/WishListServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/WishServiceTest.java
  liste-envies-war/src/test/java/fr/desaintsteban/liste/envies/util/WishRulesTest.java
Labels: back, dependencies, ready, test

#84 Archive wish list
  liste-envies-front/package.json
  liste-envies-front/src/app/component/wish-filters-form/wish-filters-form.component.ts
  liste-envies-front/src/app/page/add-list/add-update-list.component.html
  liste-envies-front/src/app/page/add-list/add-update-list.component.ts
  liste-envies-front/src/app/page/home/home.component.ts
  liste-envies-front/src/app/page/list/list.component.html
  liste-envies-front/src/app/page/list/list.component.scss
  liste-envies-front/src/app/page/list/list.component.ts
  liste-envies-front/src/app/service/wish-list-api.service.ts
  liste-envies-front/src/app/shared/html-editor/html-editor.component.ts
  liste-envies-front/src/app/state/wishes/wishes-list.service.ts
  liste-envies-front/yarn.lock
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/dto/WishListDto.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/enums/WishListStatus.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/model/WishList.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/rest/WishListRestService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/service/WishListService.java
  liste-envies-war/src/main/java/fr/desaintsteban/liste/envies/util/WishRules.java
Labels: back, dependencies, front, ready, style
